<div class="header">
  <h1>ADMIN</h1>
</div>
<div>
  <button class="back" mat-icon-button [routerLink]="['/admin']">
    <mat-icon class=" {{ themeService.storedTheme$() }}">arrow_back</mat-icon>
  </button>
</div>
<div class="root">
  <div class="search">
    <mat-form-field class="search-filter {{ themeService.storedTheme$() }}">
      <mat-label class="{{ themeService.storedTheme$() }}">{{
        "MANAGEUSER.SEARCH" | translate
      }}</mat-label>
      <input matInput (input)="filterUsers($event)" />
    </mat-form-field>
  </div>

  <div class="list">
    <table mat-table [dataSource]="filteredUserData" class="mat-elevation-z8">
      <ng-container matColumnDef="image">
        <th mat-header-cell *matHeaderCellDef>
          {{ "MANAGEUSER.IMAGE" | translate }}
        </th>
        <td mat-cell *matCellDef="let user of dataSource">
          <img class="user-avatar" [src]="user.photoURL" />
        </td>
      </ng-container>
      <ng-container matColumnDef="userName">
        <th mat-header-cell *matHeaderCellDef>
          {{ "MANAGEUSER.USER" | translate }}
        </th>
        <td mat-cell *matCellDef="let user of dataSource">
          {{ user.displayName }}
          <br />
          {{ user.email }}
        </td>
      </ng-container>
      <ng-container matColumnDef="role">
        <th mat-header-cell *matHeaderCellDef>
          {{ "MANAGEUSER.ROLE" | translate }}
        </th>
        <td mat-cell *matCellDef="let user of dataSource">
          <mat-form-field appearance="outline" class="setting" color="primary">
            <mat-label>{{ "MANAGEUSER.ASSIGN_ROLE" | translate }}</mat-label>
            <mat-select
              [value]="user.role"
              class="language {{ themeService.storedTheme$() }}"
              (selectionChange)="onRoleChange($event, user)"
            >
              <mat-option *ngFor="let role of roles" [value]="role">
                {{ role }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>
</div>
