# Compiled output
/dist
/tmp
/out-tsc
/.angular
/ios
/android
/.vscode
/node_modules
/src/environments

# Dependencies
.firebase
# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
node_modules
.angular
package-lock.json
